<div class="container px-4 sm:px-8 md:px-60 lg:px-40 mx-auto">
  <div class="w-full max-w-screen-md mx-auto my-6">
    <div class="fixed top-0 left-1/2 transform -translate-x-1/2 max-w-3xl pt-4 w-full z-10 bg-[#F6F8FC] px-4 md:px-0">
      <img
        class="block mx-auto h-32"
        src="assets/img/pokedex-banner.png"
        alt="pokedex banner" />

      <form>
        <div class="flex items-center h-14 bg-white p-6 rounded-[10px] my-6">
          <input
            class="w-full focus-visible:outline-none"
            placeholder="Busca a Pikachu, Dito u otro Pokemon" />
          <div
            class="size-10 rounded-[10px] flex items-center justify-center bg-[#FF5350] shadow-[5px_5px_15px] shadow-[#FF5350]">
            <svg
              class="size-6 stroke-[4] stroke-white"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
            </svg>
          </div>
        </div>
      </form>
    </div>

    <div class="grid grid-cols-2 sm:grid-cols-3 gap-4 mt-64">
      <ng-container *ngFor="let item of currentList">
        <ng-container>
          <div class="col-span-1">
            <pk-pokemon-card [pokemon]="item"></pk-pokemon-card>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
