/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
// @import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
// @import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

$types: (
    'normal',
    'poison',
    'steel',
    'ice',
    'ground',
    'electric',
    'psychic',
    'flying',
    'dark',
    'bug',
    'water',
    'fire',
    'grass',
    'fairy',
    'fighting',
    'rock',
    'ghost',
    'dragon'
);

$colors: (
    "normal": #9FA19F,
    "poison": #9141CB,
    "steel": #60A1B8,
    "ice": #3DCEF3,
    "ground": #915121,
    "electric": #FAC000,
    "psychic": #EF4179,
    "flying": #81B9EF,
    "dark": #624D4E,
    "bug": #91A119,
    "water": #2980EF,
    "fire": #E62829,
    "grass": #3FA129,
    "fairy": #EF70EF,
    "fighting": #FF8000,
    "rock": #AFA981,
    "ghost": #704170,
    "dragon": #5060E1
);

@each $type in $types {
    .badge-color-#{$type} {
        background-color: map-get($colors, $type) !important;
    }
}