<div
  class="relative w-full h-full rounded-[20px] py-4 px-2 sm:px-4 group hover:shadow-2xl hover:cursor-pointer hover:transition-all duration-300"
  [ngClass]="cardTypeClass">
  <img
    class="absolute top-1/2 left-1/2 transform: -translate-y-2/4 -translate-x-2/4"
    src="assets/img/pokeball-icon-4.png"
    alt="pokeball icon 4" />
  <div class="relative">
    <div [ngClass]="{ 'mb-5': pokemon.types.length === 1 }">
      <div class="flex justify-between items-start">
        <div class="flex flex-col gap-1">
          <ng-container *ngFor="let type of pokemon.types">
            <div
              class="w-full max-w-[100px] rounded-[10px] py-[2px] px-2"
              [ngClass]="getBadgeTypeColor(type.name)">
              <span class="block text-center text-[10px] sm:text-xs font-bold text-white">{{
                type.name | titlecase
              }}</span>
            </div>
          </ng-container>
        </div>
        <span class="block text-center text-[8px] sm:text-xs font-bold text-gray-500"
          >No. <span class="text-xs sm:text-base">{{ pokemon.id | zeroPad }}</span></span
        >
      </div>
    </div>
    <img
      class="mx-auto object-contain group-hover:scale-125 group-hover:transition-all duration-300"
      [src]="pokemonAvatar"
      alt="pokemon avatar" />
    <span
      class="block text-center text-sm md:text-base font-bold text-white group-hover:scale-110 group-hover:transition-all duration-300"
      >{{ pokemon.name | titlecase }}</span
    >
  </div>
</div>
